{% extends 'base.html.twig' %}

{% block title %}Paying my order - Eshoptimal{% endblock %}

{% block content %}
    <h2>My order summary</h2>
    <p>Check your information before paying the order.</p>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <strong> My delivery address </strong> <br/>
            <div class="form-check mt-4">
                {{ delivery|raw }}
            </div>

            <hr/>
            <strong> My shipper </strong> <br/>
            <div class="form-check">
                {{ carrier.name }} <br/>
                {{ carrier.description }} <br/>
                {{ carrier.price|number_format(2, ',', '.') }} €
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>My order</b> <br/>
            </div>
            <div class="order-summary">
                {% set total = null %}
                {% for key, product in cart %}
                    <div class="row {% if key > 0 %} mt-2 {% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ product.product.image }}" alt="{{ product.product.name }}" height="75px"><br/>
                        </div>
                        <div class="col-8 my-auto">
                            x {{ product.product.name }} <br/>
                            <small>
                                {{ product.product.subtitle }}
                                <br/>
                                x {{ product.qty }}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.product.price * product.qty) / 100)|number_format(2, ',', '.') }} €
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.qty) %}
                {% endfor %}
            </div>

            <hr/>
            <strong>Sub-Total : </strong> {{ (total/100)|number_format(2, ',', '.') }} € <br/>
            <strong>Delivery : </strong> {{ (carrier.price)|number_format(2, ',', '.') }} €
            <hr/>
            <strong>Total : </strong> {{ ((total/100) + carrier.price)|number_format(2, ',', '.') }} € <br/>

            <a href="#" class="btn btn-success btn-block mt-3">Pay {{ ((total/100) + carrier.price)|number_format(2, ',', '.') }} €</a>
        </div>
    </div>
{% endblock %}
